
body {
  background-image: url("../assets/fondo.png");
  background-size: 100%;
}

h1 {
  text-align: center;
  color: white;
}

#container_buttons {
  width: 100%;
  text-align: center;
  margin-top: 5%;
}

#container_cards {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 5%;
}

.card_contacto{
  height: 250px;
  background-color: white;
  border-radius: 10px;
  border-style: solid;
  border-color: #337ab7;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.card_comercio_externo{
  height: 250px;
  background-color: white;
  border-radius: 10px;
  border-style: solid;
  border-color: #5cb85c;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.card_negocio_interno{
  height: 250px;
  background-color: white;
  border-radius: 10px;
  border-style: solid;
  border-color: #f0ad4e;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
}
