
body {
  background-image: url("../assets/fondo2.png");
  background-size: 100%;
}

#container_img_urb{
  width: 100%;
  text-align: center;
  margin-top: 5%;
  padding-bottom: 1%;
}

/*estilo correspondiente al formulario de contactos*/
#form_contactos {
  width: 45% ;
  height: auto;
  text-align: center;
  margin: 0 auto;
}
#form_contactos h2{
 color: yellow;
 font-size: 28px;
 font-family: 'Abel', sans-serif;
 margin: 0 auto;
}

#form_contactos h4{
 color: white;
 text-align: center;
 font-size: 23px;
 font-family: 'Abel', sans-serif;
 margin: 0 auto;
 padding-bottom: 20px
}


/*#form_contactos button{
  width: 100%;
  text-align: center;
}
#form_contactos .descripcion{
  overflow-y: scroll;
  height: 100px;
  text-align: left;
  resize: none;
}

#form_contactos label{
 color: white;
}*/

/*estilo correspondiente al formulario de comercios externos*/
#form_comercio_externo {
  width: 30% ;
  height: auto;
  text-align: center;
  margin: 0 auto;
}

#form_comercio_externo button{
  width: 100%;
  text-align: center;
}

#form_comercio_externo .descripcion{
  overflow-y: scroll;
  height: 100px;
  text-align: left;
  resize: none;
}

#form_comercio_externo h4{
  color: white;
  text-align: justify;
  font-size: 23px;
  font-family: 'Abel', sans-serif;
}

#form_comercio_externo label{
 color: white;
}

/*estilo correspondiente al formulario de Negocios al interior de la urbanización*/
#form_negocio_interno {
  width: 30%;
  height: auto;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 100px;
}

#form_negocio_interno button{
  width: 100%;
  text-align: center;
}

#form_negocio_interno .descripcion{
  overflow-y: scroll;
  height: 100px;
  text-align: left;
  resize: none;
}

#form_negocio_interno h4{
 color: white;
 text-align: justify;
 font-size: 23px;
 font-family: 'Abel', sans-serif;
}

#form_negocio_interno label{
 color: white;
}

/*estilo correspondiente al mapa que se requiera para definir latitud y longitud*/
#map {
  height: 200px;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 10px;
}
