
body {
  background-image: url("../assets/fondo.jpeg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#encabezado{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
  padding-bottom: 20%;
}

.button_register {
 background-image: url("../assets/registrate.png");
 background-repeat: no-repeat;
 width: 200px;
 height: 200px;
}

.button_register:hover {
 background-image: url("../assets/registrate_gris.png");
 background-repeat: no-repeat;
 width: 200px;
 height: 200px;
}

.container_center{
  width: 100%;
  text-align: center;
}

#logo_convivamos{
  width: 300px;
  height: 200px;
}

#container_buttons {
  width: 100%;
  text-align: center;
  margin-top: 2%;
}

#container_cards {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 8%;
}

#container_cards .card_contacto{
  height: 300px;
  background-color: white;
  border-radius: 10px;
  border-style: solid;
  border-color: #0277BD;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
  position: relative;
}

#container_cards .card_comercio_externo{
  height: 300px;
  background-color: white;
  border-radius: 10px;
  border-style: solid;
  border-color: #558B2F;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
  position: relative;
}

#container_cards .card_negocio_interno{
  height: 300px;
  background-color: white;
  border-radius: 10px;
  border-style: solid;
  border-color: #F9A825;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
  position: relative;
}

#container_cards .img_card{
  height: 170px;
  width: 100%;
  border-radius: 10px;
  padding: 5px;
}

#container_cards .btn-show{
  margin: 5px;
  margin-bottom: 20px;
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: white;
  color: white;
  border: none;
  box-shadow: 0px 0px 0px 15px rgba(0, 150, 136, 0);
  transition: box-shadow 0.4s;
  bottom: 0;
  margin-left:auto;
  margin-right:5px;
  display: block;
}

#container_cards .btn-show:hover{
  background-color: #b3b4b4;
  box-shadow: 0px 0px 0px 15px rgba(0, 150, 136, 0.1);
}

#container_cards .color-blue{
 background-color: #0277BD;
}
#container_cards .color-green{
 background-color: #558B2F;
}
#container_cards .color-orange{
 background-color: #F9A825;
}

#container_cards .info-card{
 position: absolute;
 width: 75%;
 margin-left: 5px;
}

#container_cards .info-card h3{
 margin-top: 5px;
 margin-bottom: 0;
}

#container_cards .info-card h4{
 margin-top: 2px;
}

#container_cards .map-card{
  height: 170px;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
}


.disappear{
  visibility: hidden;
  width: 0;
  height: 0;
}

.table-news{
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.button-content{
  text-align: center;
}


.img-news{
  width: 50px;
  height: 40px;
}

#container_news_btn{
  text-align: right;
  width: 100%;
}

#container_news_btn .btn-news-agregar{
  background-color: #455A64;
  color: white;
  margin-right: 20px;
}
