
body {
  background-image: url("../assets/fondo.png");
  background-size: 100%;
}

h1 {
  text-align: center;
  color: white;
}

#container_buttons {
  width: 100%;
  text-align: center;
  margin-top: 5%;
}
