
body {
  background-image: url("../assets/fondo.jpeg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#container_img_urb{
  width: 100%;
  text-align: center;
  margin-top: 5%;
}
#container_img_urb img{
  width: 300px;
  height: 200px;
}

.container_for_buttons{
  width: 100%;
  text-align: center;
  margin-top: 1%;
}

.container_for_buttons button{
  width: 200px;
  text-align: center;
  margin-top: 1%;
}

.container_for_buttons label{
  color: white;
  width: 210px;
  text-align: center;
}
