
body {
  background-image: url("../assets/fondo2.png");
  background-size: 100%;
}

#container_img_urb{
  width: 100%;
  text-align: center;
  margin-top: 5%;
}

.floating-box {
    display: inline-block;
    width: 300px;
    height: auto;
    margin:0 45%;
    padding-bottom: 1em;
}
label{
  color: white;
  margin: 0 45%;
  width: 19%;
}
